{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Cash:  ${{cash}}</p>
            </div>
    </div>
</br>
</br>
</br>

    <form action="/withdraw" method="post">
        <div class="container">
            <div class="row">
            <div class="col-sm">

                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="adress" name="adress" placeholder="Bank account (fake)" type="text">
            </br>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="withdraw" name="withdraw" placeholder="Withdraw cash amount" type="number">
            </br>
                <button class="btn btn-primary" type="submit">Withdraw</button>
            </div>
        </div>
    </form>

{% endblock %}
